* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #222;
  color: #ddd;
  font-family: sans-serif;
}

.container-fluid {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  color: white;
}

.sr-only {
  display: none;
}

.location-input {
  color: black;
  height: 40px;
  padding: 0 10px;
  font-size: 20px;
  border: 0;
  width: 75%;
  margin: 0;
  margin-right: 1%;
}

button {
  border: 0;
  font-size: 20px;
  height: 40px;
  padding: 0;
  width: 24%;
  margin: 0;
  background: #ccc;
}

p small {
  color: #ccc;
  opacity: .5;
}